{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="nk-body" data-navbar-collapse="xl">
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <div class="nk-app-root ">
        
        <main class="nk-pages">
            <section class="nk-section pt-120 pt-lg-160">
                <div class="nk-mask blur-1 left center"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7">
                            <div class="nk-section-head text-center"><span class="nk-section-subtitle"
                                    data-aos="fade-up" data-aos-delay="0">Our Story</span>
                                <h2 class="nk-section-title" data-aos="fade-up" data-aos-delay="50">The Story Behind
                                    NioLand</h2>
                                <p class="nk-section-text" data-aos="fade-up" data-aos-delay="100"> Discover the
                                    inspiring story behind NioLand - how a vision became a reality, empowering
                                    individuals and businesses to thrive in the digital world. </p>
                                <ul class="nk-btn-group justify-content-center pt-5">
                                    <li data-aos="fade-up" data-aos-delay="150"><a href="#"
                                            class="btn btn-lg btn-primary">Join Our Team</a></li>
                                    <li data-aos="fade-up" data-aos-delay="200"><a href="#"
                                            class="btn  btn-lg btn-outline-primary">Our Values</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                            <div class="nk-video rounded-4 bg-primary-100 " data-aos="fade-up" data-aos-delay="300">
                                <div class="nk-mask shape-1 rounded-4 overflow-hidden" data-aos="fade-in"
                                    data-aos-delay="350"></div>
                                <div class="nk-video-inner">
                                    <div class="nk-video-logo p-4"><a href="#" class="logo-link">
                                            <div class="logo-wrap"><img class="logo-img" src="{% static 'images/logo-s1-dark.png' %}"
                                                    srcset="{% static 'images/logo-s1-dark2x.png' %}" alt="brand-logo"></div>
                                        </a></div>
                                    <div class="nk-video-content">
                                        <div class="nk-video-img"><img src="{% static 'images/video/e.png' %}" alt="video"
                                                data-aos="fade-up" data-aos-delay="400"></div>
                                        <div class="nk-video-btn"><a data-fslightbox=""
                                                href="https://www.youtube.com/watch?v=pVE92TNDwUk"
                                                class="media media-lg media-middle media-circle text-bg-primary shadow-xl animate animate-infinite animate-pulse animate-duration-1"><em
                                                    class="icon ni ni-play-fill"></em></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section">
                <div class="container">
                    <div class="row gy-5">
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="0">
                            <div class="card">
                                <div class="card-body">
                                    <div
                                        class="media-group gap-3 gap-md-4 flex-column flex-lg-row align-items-start align-items-lg-center">
                                        <div class="media-text">
                                            <div class="h1 text-primary">240%</div>
                                        </div>
                                        <div class="media-text m-0">
                                            <h4 class="text-capitalize">Company growth</h4>
                                            <p> Unleashing exponential growth through innovation. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="50">
                            <div class="card">
                                <div class="card-body">
                                    <div
                                        class="media-group gap-3 gap-md-4 flex-column flex-lg-row align-items-start align-items-lg-center">
                                        <div class="media-text">
                                            <div class="h1 text-warning">175+</div>
                                        </div>
                                        <div class="media-text m-0">
                                            <h4 class="text-capitalize">Team members</h4>
                                            <p> Our talented team members are the driving force behind. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="card">
                                <div class="card-body">
                                    <div
                                        class="media-group gap-3 gap-md-4 flex-column flex-lg-row align-items-start align-items-lg-center">
                                        <div class="media-text">
                                            <div class="h1 text-danger">625+</div>
                                        </div>
                                        <div class="media-text m-0">
                                            <h4 class="text-capitalize">Active projects</h4>
                                            <p> We have a diverse range of active projects that are driving. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="150">
                            <div class="card">
                                <div class="card-body">
                                    <div
                                        class="media-group gap-3 gap-md-4 flex-column flex-lg-row align-items-start align-items-lg-center">
                                        <div class="media-text">
                                            <div class="h1 text-success">99%</div>
                                        </div>
                                        <div class="media-text m-0">
                                            <h4 class="text-capitalize">Customer satisfaction</h4>
                                            <p> Customer Satisfaction is our top priority. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section">
                <div class="container">
                    <div class="row align-items-lg-end justify-content-lg-between gy-5 ">
                        <div class="col-lg-6">
                            <div class="d-flex flex-column" data-aos="fade-up" data-aos-delay="300">
                                <div class="nk-frame mb-5"><img src="{% static 'images/cover/cover-37.png' %}" alt="cover-bg"></div>
                                <div class="nk-section-head pb-0"><span class="nk-section-subtitle">The journey</span>
                                    <h2 class="nk-section-title">Journey Towards Success</h2>
                                    <p class="nk-section-text"> The journey towards success for NioLand has been a
                                        remarkable one. It started with a vision to provide businesses with a
                                        comprehensive platform that simplifies collaboration and maximizes productivity.
                                        With a dedicated team and a customer-centric approach, NioLand has continuously
                                        evolved and improved its offerings to meet the changing needs of businesses.
                                    </p>
                                    <ul class="nk-btn-group pt-5">
                                        <li><a href="#" class="btn btn-primary">Join Our Team</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-5">
                            <div class="d-flex flex-column">
                                <div class="nk-frame mb-5 mb-lg-0 order-lg-2 mt-lg-3" data-aos="fade-up"
                                    data-aos-delay="400"><img src="{% static 'images/cover/cover-38.png' %}" alt="cover-bg"></div>
                                <div class="nk-section-head pb-0"><span class="nk-section-subtitle">Behind the
                                        story</span>
                                    <h2 class="nk-section-title">How NioLand Started</h2>
                                    <p class="nk-section-text"> NioLand started with a vision to revolutionize the way
                                        businesses connect and collaborate. It was founded by a group of passionate
                                        individuals who saw the need for a platform that seamlessly integrates different
                                        tools and channels, allowing teams to work together more effectively. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="nk-section-head text-center"><span class="nk-section-subtitle">our values</span>
                                <div>
                                    <h2 class="nk-section-title">Core Values we define</h2>
                                    <p class="nk-section-text">Innovation, Collaboration, Excellence. These core values
                                        guide us as we strive to deliver exceptional solutions and empower businesses.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-5">
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-primary-soft mb-4"><em
                                            class="icon ni ni-file-text-fill"></em></div>
                                    <h5>Result Matter</h5>
                                    <p class="text line-clamp-2"> At NioLand, we believe that results matter. We are
                                        committed to delivering tangible outcomes and measurable impact for our clients.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="50">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-info-soft mb-4"><em
                                            class="icon ni ni-gift"></em></div>
                                    <h5>Commitment</h5>
                                    <p class="text line-clamp-2">Commitment is one of our core values at NioLand. We are
                                        dedicated to providing exceptional service</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-warning-soft mb-4"><em
                                            class="icon ni ni-growth-fill"></em></div>
                                    <h5>Growth</h5>
                                    <p class="text line-clamp-2"> Growth is a fundamental value at NioLand. We believe
                                        in continuously learning, improving, and expanding our capabilities. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-danger-soft mb-4"><em
                                            class="icon ni ni-users-fill"></em></div>
                                    <h5>Team Work</h5>
                                    <p class="text line-clamp-2"> Teamwork is a core value at NioLand. We believe in the
                                        power of collaboration and synergy that comes from working together. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="50">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-primary-soft mb-4"><em
                                            class="icon ni ni-bulb-fill"></em></div>
                                    <h5>Innovation</h5>
                                    <p class="text line-clamp-2"> Innovation is at the heart of NioLand. We continuously
                                        strive to push boundaries and challenge the status quo. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-success-soft mb-4"><em
                                            class="icon ni ni-flag-fill"></em></div>
                                    <h5>Ownership</h5>
                                    <p class="text line-clamp-2"> Ownership is a core value at NioLand. We believe in
                                        taking responsibility for our actions, projects, and outcomes. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="nk-section-head text-center"><span class="nk-section-subtitle">team
                                    members</span>
                                <h2 class="nk-section-title">The Team Behind NioLand</h2>
                                <p class="nk-section-text">Meet the dedicated team behind NioLand, working tirelessly to
                                    bring you the best experience.</p>
                                <ul class="nk-btn-group justify-content-center pt-5">
                                    <li><a href="#" class="btn btn-primary btn-lg">Join Our Team</a></li>
                                    <li><a href="#" class="btn btn-outline-primary btn-lg">Learn More</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-5">
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                            <div class="card border-0 bg-blue-300">
                                <div class="card-body pb-0">
                                    <div class="card-title-group align-items-start mb-4">
                                        <div class="card-title-group-item">
                                            <h4 class="text-capitalize mb-1">John Carter</h4>
                                            <p class="fs-16">CEO &amp; Founder</p>
                                        </div>
                                        <div class="card-title-group-item"><a href="#" class="text-dark"><em
                                                    class="icon icon-lg ni ni-fedora"></em></a></div>
                                    </div>
                                    <div class="card-image text-center"><img src="{% static 'images/team/a.png' %}" alt="team"
                                            data-aos="fade-up" data-aos-delay="50"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="50">
                            <div class="card border-0 bg-green-50">
                                <div class="card-body pb-0">
                                    <div class="card-title-group align-items-start mb-4">
                                        <div class="card-title-group-item">
                                            <h4 class="text-capitalize mb-1">Sophie Moor</h4>
                                            <p class="fs-16"> Manager Of XYZ</p>
                                        </div>
                                        <div class="card-title-group-item"><a href="#" class="text-dark"><em
                                                    class="icon icon-lg ni ni-b-si"></em></a></div>
                                    </div>
                                    <div class="card-image text-center"><img src="{% static 'images/team/b.png' %}" alt="team"
                                            data-aos="fade-up" data-aos-delay="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="card border-0 bg-yellow-50">
                                <div class="card-body pb-0">
                                    <div class="card-title-group align-items-start mb-4">
                                        <div class="card-title-group-item">
                                            <h4 class="text-capitalize mb-1">Sam Houston</h4>
                                            <p class="fs-16">VP of Development</p>
                                        </div>
                                        <div class="card-title-group-item"><a href="#" class="text-dark"><em
                                                    class="icon icon-lg ni ni-linkedin-round"></em></a></div>
                                    </div>
                                    <div class="card-image text-center"><img src="{% static 'images/team/c.png' %}" alt="team"
                                            data-aos="fade-up" data-aos-delay="150"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="nk-section-head text-center"><span class="nk-section-subtitle">support
                                    From</span>
                                <h2 class="nk-section-title">Our Investors</h2>
                                <p class="nk-section-text">We are proud to have the support of our valued investors who
                                    believe in our vision and contribute to our growth.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gap g-3 justify-content-xl-center">
                        <div class="col-6 col-sm-4 col-lg-3 col-xl-2"><a href="#"
                                class="nk-brand bg-gray border border-gray-50 py-3 py-md-4 px-5 px-md-6 rounded-2 text-center d-inline-block w-100 h-100"
                                data-aos="fade-up" data-aos-delay="50"><img src="{% static 'images/brands/a.png' %}" alt="brand"
                                    class="img-fluid"></a></div>
                        <div class="col-6 col-sm-4 col-lg-3 col-xl-2"><a href="#"
                                class="nk-brand bg-gray border border-gray-50 py-3 py-md-4 px-5 px-md-6 rounded-2 text-center d-inline-block w-100 h-100"
                                data-aos="fade-up" data-aos-delay="100"><img src="{% static 'images/brands/b.png' %}" alt="brand"
                                    class="img-fluid"></a></div>
                        <div class="col-6 col-sm-4 col-lg-3 col-xl-2"><a href="#"
                                class="nk-brand bg-gray border border-gray-50 py-3 py-md-4 px-5 px-md-6 rounded-2 text-center d-inline-block w-100 h-100"
                                data-aos="fade-up" data-aos-delay="150"><img src="{% static 'images/brands/c.png' %}" alt="brand"
                                    class="img-fluid"></a></div>
                        <div class="col-6 col-sm-4 col-lg-3 col-xl-2"><a href="#"
                                class="nk-brand bg-gray border border-gray-50 py-3 py-md-4 px-5 px-md-6 rounded-2 text-center d-inline-block w-100 h-100"
                                data-aos="fade-up" data-aos-delay="200"><img src="{% static 'images/brands/d.png' %}" alt="brand"
                                    class="img-fluid"></a></div>
                        <div class="col-6 col-sm-4 col-lg-3 col-xl-2"><a href="#"
                                class="nk-brand bg-gray border border-gray-50 py-3 py-md-4 px-5 px-md-6 rounded-2 text-center d-inline-block w-100 h-100"
                                data-aos="fade-up" data-aos-delay="250"><img src="{% static 'images/brands/e.png' %}" alt="brand"
                                    class="img-fluid"></a></div>
                    </div>
                </div>
            </section>
            <section class="nk-section">
                <div class="nk-mask blur-1 right center"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="nk-section-head text-center"><span class="nk-section-subtitle">Press &amp;
                                    Media</span>
                                <h2 class="nk-section-title">NioLand In The News</h2>
                                <p class="nk-section-text">Discover the latest news and updates about NioLand, featured
                                    in top publications and media outlets.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-5">
                        <div class="col-lg-6">
                            <div class="card card-gutter-lg bg-primary is-theme h-100" data-aos="fade-up"
                                data-aos-delay="0">
                                <div class="card-body p-5 p-md-7">
                                    <div class="card-content h-100 d-flex flex-column justify-content-between">
                                        <div class="card-image mb-3"><a href="#"><img src="{% static 'images/brands/a-light.png' %}"
                                                    alt="brand" class="h-24px"></a></div>
                                        <h3 class="card-title text-capitalize"> NioLand raises $84M in Series C funding
                                        </h3>
                                        <p> NioLand, a rapidly growing technology company, recently announced the
                                            successful completion of its Series C funding round, securing a substantial
                                            investment of $84 million. <br><br> The funding will be utilized to further
                                            enhance and expand NioLand's products and services, solidifying its position
                                            as a market leader in the industry. The significant investment highlights
                                            the confidence and support from investors in NioLand's vision and potential
                                            for continued success. </p>
                                        <div><a href="#"class="btn-link"><span>Read More</span><em
                                                    class="icon ni ni-arrow-right"></em></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row gy-5">
                                <div class="col-12">
                                    <div class="card card-gutter-md bg-blue-1400 is-theme" data-aos="fade-up"
                                        data-aos-delay="50">
                                        <div class="card-body p-5">
                                            <div class="card-content">
                                                <div class="card-image mb-3 mb-md-5 brand"><a href="#"><img
                                                            src="{% static 'images/brands/b.png' %}" alt="brand" class="h-24px"></a>
                                                </div>
                                                <h4 class="card-title text-capitalize mb-3 mb-md-5"><a
                                                        href="blog-single.html">NioLand claims to be the #1 player in
                                                        the analytics industry</a></h4>
                                                <div><a href="#" class="btn-link"><span>Read
                                                            More</span><em class="icon ni ni-arrow-right"></em></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" data-aos="fade-up" data-aos-delay="0">
                                    <div class="card card-gutter-md bg-dark is-theme">
                                        <div class="card-body p-5">
                                            <div class="card-content">
                                                <div class="card-image mb-3 mb-md-5 brand"><a href="#"><img
                                                            src="{% static 'images/brands/c.png' %}" alt="brand" class="h-24px"></a>
                                                </div>
                                                <h4 class="card-title text-capitalize mb-3 mb-md-5"><a
                                                        href="blog-single.html">NioLand CEO steps-back, new CEO comes in
                                                        September after the board decisions</a></h4>
                                                <div><a href="#" class="btn-link"><span>Read
                                                            More</span><em class="icon ni ni-arrow-right"></em></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section nk-newsletter-section  pb-lg-0">
                <div class="container">
                    <div
                        class="row justify-content-center justify-content-lg-between align-items-center pb-5 border-bottom border-gray-50">
                        <div class="col-lg-6 col-xl-4">
                            <div class="nk-newsletter-content text-center text-lg-start pb-5 pb-lg-0">
                                <h4 class="text-capitalize">Subscribe to our newsletter</h4>
                                <p class="fs-16">Join the 5000+ People That Uses Softnio Products.</p>
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-5">
                            <form data-action="form/subscribe.php" class="form-submit-init" method="post">
                                <div class="form-group nk-newsletter-one row">
                                    <div class="col-md-8">
                                        <div class="form-control-wrap mb-4 mb-md-0"><input type="email" name="email"
                                                class="form-control text-base   " placeholder="Enter Your Email"
                                                required=""></div>
                                    </div>
                                    <div class="col-md-4 ps-md-0"><input type="submit"
                                            class="btn btn-primary btn-block h-100" value="Subscribe"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <a href="#" class="scroll-top shadow animate animate-infinite animate-pulse animate-duration-2"><em
                class="icon ni ni-chevrons-up"></em></a>
        <div class="nk-sticky-badge">
            <ul>
                <li><a href="{% url 'home' %}" target="_blank" class="nk-sticky-badge-icon nk-sticky-badge-home"
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="nk-tooltip"
                        data-bs-title="View Demo"><em class="icon ni ni-home-fill"></em></a></li>
                
            </ul>
        </div>
    </div>
</body>

{% endblock %}