{% load static %}
        <footer class="nk-footer">
            <div class="nk-footer-top">
                <div class="container">
                    <div class="nk-footer-content row justify-content-xl-between">
                        <div class="col-md-8 col-lg-4 col-xxl-4">
                            <div class="nk-footer-brand pb-5 pb-lg-0">
                                <div class="nk-footer-brand-info mb-4">
                                    <div class="nk-footer-logo"><a href="index.html" class="logo-link">
                                            <div class="logo-wrap"><img class="logo-img logo-light"
                                                    src="{% static 'images/logo-s1.png' %}" srcset="{% static 'images/logo-s12x.png' %}"
                                                    alt="brand-logo"><img class="logo-img logo-dark"
                                                    src="{% static 'images/logo-s1-dark.png' %}" srcset="{% static 'images/logo-s1-dark2x.png' %}"
                                                    alt="brand-logo"></div>
                                        </a></div>
                                    <p>Streamline your business operations with our powerful suite of solutions. Boost
                                        productivity and drive growth with NioLand.</p>
                                </div>
                                <ul class="nk-footer-social">
                                    <li><a href="#"><em class="icon ni ni-facebook-f"></em></a></li>
                                    <li><a href="#"><em class="icon ni ni-twitter"></em></a></li>
                                    <li><a href="#"><em class="icon ni ni-linkedin"></em></a></li>
                                    <li><a href="#"><em class="icon ni ni-telegram"></em></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8 col-xxl-6">
                            <div class="row justify-content-between">
                                <div class="col-sm-8 col-md-7">
                                    <div class="nk-footer-info">
                                        <h5 class="title">Pages</h5>
                                        <ul class="row gy-1 gy-sm-4">
                                            <li class="col-6"><a href="{% url 'team' %}">Team</a></li>
                                            <li class="col-6"><a href="{% url 'about' %}">About</a></li>
                                            <li class="col-6"><a href="pricing.html">Pricing</a></li>
                                            <li class="col-6"><a href="#">Blog</a></li>
                                            <li class="col-6"><a href="#">Blog Post</a></li>
                                            <li class="col-6"><a href="{% url 'testimonial' %}">Customer Reviews</a>
                                            </li>
                                            <li class="col-6"><a href="{% url 'support' %}">Help Center</a></li>
                                            <li class="col-6"><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="nk-footer-info">
                                        <h5 class="title">Utility Pages</h5>
                                        <ul class="row gy-1 gy-sm-4">
                                            <li class="col-12"><a href="#">Login</a></li>
                                            <li class="col-12"><a href="#">Sign up</a></li>
                                            <li class="col-12"><a href="#">Reset Password</a></li>
                                            <li class="col-12"><a href="#">404 Not Found</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nk-footer-bottom">
                <div class="container">
                    <div class="nk-footer-content row justify-content-between">
                        <div class="col-lg-6 px-0">
                            <p class="nk-footer-copyright-text text-center text-lg-start">&copy; 2011 - <span
                                    id="currentYear"></span><a class="fs-16" href="https://softnio.com/"
                                    target="_blank"> Softnio</a>. All Rights Reserved.</p>
                        </div>
                        <div class="col-lg-6 px-0">
                            <ul class="nk-footer-copyright justify-content-center justify-content-lg-end">
                                <li><a class="nk-footer-text" href="#">All Rights</a></li>
                                <li><a class="nk-footer-text" href="#">Terms & conditions</a></li>
                                <li><a class="nk-footer-text" href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
      
   