{% extends 'base.html' %}
{% block content %}
{% load static %}
<body class="nk-body" data-navbar-collapse="xl">
    <div class="nk-app-root ">
      
        <main class="nk-pages">
            <section class="nk-error-section nk-sectin-space-lg pt-120 pt-xl-180  overflow-hidden">
                <div class="nk-mask blur-1 left top"></div>
                <div class="nk-mask blur-1 right bottom"></div>
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-xl-7">
                            <div class="nk-block-head">
                                <div class="nk-section-head">
                                    <div class="error-number mb-5">404</div>
                                    <h2 class="nk-block-title m-0 mb-2 mb-md-4">Oops, Page Not Found</h2>
                                    <p class="nk-block-text lead ">We are very sorry for inconvenience. It looks like
                                        you’re try to access a page that either has been deleted or never existed.</p>
                                    <ul class="nk-btn-group pt-4 justify-content-center pt-3 pt-md-5 pb-2">
                                        <li><a href="index.html" class="btn btn-primary"> Go Back Home </a></li>
                                        <li><a href="index.html" class="btn btn-outline-primary"> Try Again </a></li>
                                    </ul>
                                    <hr class="mt-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
           
        </main>
        <a href="#" class="scroll-top shadow animate animate-infinite animate-pulse animate-duration-2"><em
                class="icon ni ni-chevrons-up"></em></a>
        <div class="nk-sticky-badge">
            <ul>
                <li><a href="{% url 'home' %}" target="_blank" class="nk-sticky-badge-icon nk-sticky-badge-home"
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="nk-tooltip"
                        data-bs-title="View Demo"><em class="icon ni ni-home-fill"></em></a></li>
                
            </ul>
        </div>
    </div>
   
</body>
{% endblock %}