
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <title>NioLand - Sign Up</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body class="nk-body" data-navbar-collapse="xl">
    <div class="nk-app-root ">
        <main class="nk-pages">
            <div class="nk-split-page flex-column flex-xl-row">
                <div class="nk-split-col nk-auth-col">
                    <div class="nk-form-card card rounded-3 card-gutter-md nk-auth-form-card mx-md-9 mx-xl-auto"
                        data-aos="fade-up">
                        <div class="card-body p-5">
                            <div class="nk-form-card-head text-center pb-5">
                                <div class="form-logo mb-3"><a href="#"><img class="logo-img"
                                            src="{% static 'images/logo-s1-dark.png' %}" srcset="images/logo-s1-dark2x.png 2x"
                                            alt=""></a></div>
                                <h3 class="title mb-2">Ask Your Query</h3>
                               
                            </div>
                            <form action="#">
                                <div class="row gy-4">
                                    <div class="col-12">
                                        <div class="form-group"><label class="form-label">Name</label>
                                            <div class="form-control-wrap"><input type="text" class="form-control"
                                                    placeholder="Enter your name"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group"><label class="form-label">Contact</label>
                                            <div class="form-control-wrap"><input type="number" class="form-control"
                                                    placeholder="Enter your Contact"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group"><label class="form-label">Email</label>
                                            <div class="form-control-wrap"><input type="text" class="form-control"
                                                    placeholder="Enter your email"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group"><label class="form-label">Address</label>
                                            <div class="form-control-wrap"><input type="text" class="form-control"
                                                    placeholder="Enter your Address"></div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group"><label class="form-label">Message</label>
                                            <div class="form-control-wrap"><textarea type="text" class="form-control"
                                                    placeholder="Enter your Query"></textarea></div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12">
                                        <div class="form-group"><button class="btn btn-block text-white "style ="background-color: rgb(27, 132, 255)"
                                                type="submit">submit Query</button></div>
                                    </div>
                                </div>
                            </form>
                            <div class="pt-4 text-center">
                                <div class="small overline-title-sep"><span class="bg-white px-2 text-base">or register
                                        with</span></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="nk-split-col nk-auth-col nk-auth-col-content " style="background-color: rgb(27, 132, 255);">
                    <div class="nk-mask shape-33"></div>
                    <div class="nk-auth-content mx-md-9 mx-xl-auto">
                        <div class="nk-auth-content-inner">
                            <div class="media media-lg media-circle media-middle text-bg-cyan-200 mb-5"><em
                                    class="icon ni ni-quote-left text-white"></em></div>
                            <h1 class="mb-5">We’re building a better application now</h1>
                            <div class="nk-auth-quote ms-sm-5">
                                <div class="nk-auth-quote-inner text-white">
                                    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis
                                        magna massa semper tristique. Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit. Venenatis magna massa semper tristique dotset.</p>
                                    <div class="media-group align-items-center pt-3">
                                        <div class="media media-md media-circle media-middle"><img
                                                src="{% static  'images/avatar/a.jpg' %}" alt="avatar"></div>
                                        <div class="media-text">
                                            <div class="h5 mb-0">Wade Warren</div><span class="small">3 months
                                                ago</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main><a href="#" class="scroll-top shadow animate animate-infinite animate-pulse animate-duration-2"><em
                class="icon ni ni-chevrons-up"></em></a>
        <div class="nk-sticky-badge">
            <ul>
                <li><a href="{% url 'home' %}" target="_blank" class="nk-sticky-badge-icon nk-sticky-badge-home"
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="nk-tooltip"
                        data-bs-title="View Demo"><em class="icon ni ni-home-fill"></em></a></li>
                
            </ul>
        </div>
    </div>
    <script src="{% static 'assets/js/bundle.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
</body>

</html>