
{% extends 'base.html' %}
{% load static %}
{% block content %}


<body class="nk-body" data-navbar-collapse="xl">
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <div class="nk-app-root ">
        <main class="nk-pages">
            <section class="nk-section pt-120 pt-lg-160">
                <div class="nk-mask blur-1 left center"></div>
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="nk-section-head text-center"><span class="nk-section-subtitle"
                                    data-aos="fade-up" data-aos-delay="0">Our support</span>
                                <h2 class="nk-section-title" data-aos="fade-up" data-aos-delay="50">How can we help?
                                </h2>
                                <p class="nk-block-text" data-aos="fade-up" data-aos-delay="100"> We can help you with a
                                    wide range of services and solutions to your specific needs. Let us know how we can
                                    assist you! </p>
                            </div>
                        </div>
                        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="150">
                            <div class="nk-filter-wrap pb-7">
                                <form action="#">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <div class="form-control-icon start"><em class="icon ni ni-search"></em>
                                            </div><input type="text" class="form-control"
                                                placeholder="Search for questions or topics">
                                        </div>
                                    </div>
                                </form>
                                <ul class="nk-tag justify-content-center pt-4">
                                    <li data-aos="fade-up" data-aos-delay="200"><a href="#" class="nk-tag-item">all</a>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="250"><a href="#"
                                            class="nk-tag-item">Growth</a></li>
                                    <li data-aos="fade-up" data-aos-delay="300"><a href="#"
                                            class="nk-tag-item">Marketing</a></li>
                                    <li data-aos="fade-up" data-aos-delay="350"><a href="#" class="nk-tag-item">Tech</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-5">
                        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="0">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-primary-soft mb-5"><em
                                            class="icon ni ni-wallet-fill"></em></div>
                                    <h4 class="title text-capitalize mb-3">Billing &amp; Payments</h4>
                                    <p class="line-clamp-3"> Our billing and payment system is designed to make your
                                        financial transactions smooth and hassle-free. Manage your invoices, track
                                        payments, and enjoy a seamless billing experience with us. </p>
                                    <div class="pt-2"><a href="#"
                                            class="btn-link text-primary"><span>See Pricing Questions</span><em
                                                class="icon ni ni-arrow-right"></em></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="50">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-info-soft mb-5"><em
                                            class="icon ni ni-users-fill"></em></div>
                                    <h4 class="title text-capitalize mb-3">Users and Collaboration</h4>
                                    <p class="line-clamp-3"> Collaborate seamlessly with your team members, clients, and
                                        partners using our user-friendly platform. Manage user access, share files, and
                                        work together on projects in real-time, boosting productivity and fostering
                                        effective collaboration. </p>
                                    <div class="pt-2"><a href="#"
                                            class="btn-link text-primary"><span>All Documentations</span><em
                                                class="icon ni ni-arrow-right"></em></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="0">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-danger-soft mb-5"><em
                                            class="icon ni ni-puzzle-fill"></em></div>
                                    <h4 class="title text-capitalize mb-3">Features and Integrations</h4>
                                    <p class="line-clamp-3"> Unlock a wide range of powerful features and integrations
                                        that enhance your workflow and streamline your business processes. From project
                                        management and communication tools to data analysis and reporting capabilities,
                                        our platform offers comprehensive solutions to meet your specific needs.
                                        Integrate with popular third-party apps and services to further extend the
                                        functionality of our platform and optimize your business operations. </p>
                                    <div class="pt-2"><a href="#"
                                            class="btn-link text-primary"><span>Browse Articles</span><em
                                                class="icon ni ni-arrow-right"></em></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="50">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-success-soft mb-5"><em
                                            class="icon ni ni-chat-circle-fill"></em></div>
                                    <h4 class="title text-capitalize mb-3">Frequently Asked Questions</h4>
                                    <p class="fs-16 line-clamp-3"> Unlock a wide range of powerful features and
                                        integrations that enhance your workflow and streamline your business processes.
                                        From project management and communication tools to data analysis and reporting
                                        capabilities, our platform offers comprehensive solutions to meet your specific
                                        needs. Integrate with popular third-party apps and services to further extend
                                        the functionality of our platform and optimize your business operations. </p>
                                    <div class="pt-2"><a href="#"
                                            class="btn-link text-primary"><span>See All Questions</span><em
                                                class="icon ni ni-arrow-right"></em></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section">
                <div class="nk-mask blur-1 right top"></div>
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="nk-section-head text-center"><span class="nk-section-subtitle">FAQ</span>
                                <h2 class="mbnk-section-title ">Frequently Asked Questions</h2>
                                <p class="nk-section-text"> Find answers to commonly asked questions about our product
                                    or service in our comprehensive FAQ section. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-5 gy-lg-0">
                        <div class="col-lg-8">
                            <div class="nk-faq">
                                <div class="accordion accordion-s2 bg-white rounded-2 border" id="businessFaq">
                                    <div class="accordion-item" data-aos="fade-up" data-aos-delay="0">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#faqCollapseOne"><span class="text-capitalize">How
                                                        long does it take to ship my order?</span><em
                                                        class="icon ni ni-plus on"></em><em
                                                        class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseOne" class="accordion-collapse collapse show"
                                            data-bs-parent="#businessFaq">
                                            <div class="accordion-body">
                                                <p class="fs-16"> The shipping time may vary depending on your location
                                                    and the shipping method chosen. Please refer to our shipping policy
                                                    for more details. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item" data-aos="fade-up" data-aos-delay="25">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqCollapseTwo"><span
                                                        class="text-capitalize">What payment methods do you
                                                        accept?</span><em class="icon ni ni-plus on"></em><em
                                                        class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseTwo" class="accordion-collapse collapse"
                                            data-bs-parent="#businessFaq">
                                            <div class="accordion-body">
                                                <p class="fs-16"> We accept various payment methods, including major
                                                    credit cards, debit cards, and online payment platforms like PayPal.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item" data-aos="fade-up" data-aos-delay="50">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqCollapseThree"><span
                                                        class="text-capitalize">What shipping options do you
                                                        have?</span><em class="icon ni ni-plus on"></em><em
                                                        class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseThree" class="accordion-collapse collapse"
                                            data-bs-parent="#businessFaq">
                                            <div class="accordion-body">
                                                <p class="fs-16"> We offer a range of shipping options to accommodate
                                                    your needs. These options include standard shipping, express
                                                    shipping, and international shipping. The availability of specific
                                                    shipping methods may vary depending on your location and the product
                                                    you are ordering. During the checkout process, you can select the
                                                    shipping option that best suits your preferences and requirements.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item" data-aos="fade-up" data-aos-delay="75">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqCollapseFour"><span
                                                        class="text-capitalize">How do I make changes to an existing
                                                        order?</span><em class="icon ni ni-plus on"></em><em
                                                        class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseFour" class="accordion-collapse collapse"
                                            data-bs-parent="#businessFaq">
                                            <div class="accordion-body">
                                                <p class="fs-16"> To make changes to an existing order, please contact
                                                    our customer support team as soon as possible. Provide them with
                                                    your order details and the specific changes you would like to make.
                                                    Our team will assist you in updating your order, such as modifying
                                                    the shipping address, adding or removing items, or adjusting
                                                    quantities. Please note that order modifications may be subject to
                                                    certain limitations and availability of the requested changes. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item" data-aos="fade-up" data-aos-delay="100">
                                        <div class="accordion-header">
                                            <h6><button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#faqCollapseFive"><span
                                                        class="text-capitalize">When will my order arrive?</span><em
                                                        class="icon ni ni-plus on"></em><em
                                                        class="icon ni ni-minus off"></em></button></h6>
                                        </div>
                                        <div id="faqCollapseFive" class="accordion-collapse collapse"
                                            data-bs-parent="#businessFaq">
                                            <div class="accordion-body">
                                                <p class="fs-16"> The delivery time of your order depends on various
                                                    factors such as the shipping method selected, the destination, and
                                                    any applicable customs procedures. Once your order is processed and
                                                    shipped, you will receive a confirmation email with tracking
                                                    information to monitor the progress of your package. For more
                                                    specific details about the estimated delivery time, please refer to
                                                    the shipping information provided during the checkout process or
                                                    contact our customer support team for assistance. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="0">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-primary-soft mb-4"><em
                                            class="icon ni ni-chat-fill"></em></div>
                                    <h5 class="title">Do you need any help &amp; support?</h5>
                                    <p class="fs-16">Lor em ips um dolor sit amet, conse ctet adipis cin g elit. Cons
                                        equat aliq uet soll ac.</p><a href="#"
                                        class="btn-link text-primary"><span>support@nioland.com</span><em
                                            class="icon ni ni-arrow-right"></em></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section">
                <div class="container">
                    <div class="nk-cta-wrap bg-primary-gradient rounded-3 is-theme p-5 p-lg-7" data-aos="fade-up"
                        data-aos-delay="100">
                        <div class="row g-gs align-items-center">
                            <div class="col-lg-8">
                                <div class="media-group flex-column flex-lg-row align-items-center">
                                    <div
                                        class="media media-lg media-circle media-middle text-bg-white text-primary mb-2 mb-lg-0 me-lg-2">
                                        <em class="icon ni ni-chat-fill"></em></div>
                                    <div class="text-center text-lg-start ms-lg-3">
                                        <h3 class="text-capitalize m-0">Chat with our support team!</h3>
                                        <p class="fs-16">Get in touch with our support team if you still can’t find your
                                            answer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center text-lg-end"><a href="#"
                                    class="btn btn-white">Contact support</a></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section nk-newsletter-section  pb-lg-0">
                <div class="container">
                    <div
                        class="row justify-content-center justify-content-lg-between align-items-center pb-5 border-bottom border-gray-50">
                        <div class="col-lg-6 col-xl-4">
                            <div class="nk-newsletter-content text-center text-lg-start pb-5 pb-lg-0">
                                <h4 class="text-capitalize">Subscribe to our newsletter</h4>
                                <p class="fs-16">Join the 5000+ People That Uses Softnio Products.</p>
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-5">
                            <form data-action="form/subscribe.php" class="form-submit-init" method="post">
                                <div class="form-group nk-newsletter-one row">
                                    <div class="col-md-8">
                                        <div class="form-control-wrap mb-4 mb-md-0"><input type="email" name="email"
                                                class="form-control text-base   " placeholder="Enter Your Email"
                                                required=""></div>
                                    </div>
                                    <div class="col-md-4 ps-md-0"><input type="submit"
                                            class="btn btn-primary btn-block h-100" value="Subscribe"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
      <a href="#" class="scroll-top shadow animate animate-infinite animate-pulse animate-duration-2"><em
                class="icon ni ni-chevrons-up"></em></a>
        <div class="nk-sticky-badge">
            <ul>
                <li><a href="{% url 'home' %}" target="_blank" class="nk-sticky-badge-icon nk-sticky-badge-home"
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="nk-tooltip"
                        data-bs-title="View Demo"><em class="icon ni ni-home-fill"></em></a></li>
              
            </ul>
        </div>
    </div>
   
</body>
{% endblock %}
