{% extends 'base.html' %}
{% block content %}
{% load static %}

<body class="nk-body" data-navbar-collapse="xl">
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <div class="nk-app-root home-coaching-service">
      
        <main class="nk-pages">
            <section class="nk-banner nk-banner-coaching-service bg-gray-1100 ">
                <div class="nk-banner-wrap">
                    <div class="container">
                        <div class="row justify-content-center justify-content-xl-between">
                            <div class="col-lg-8 col-xl-5">
                                <div class="nk-section-head text-center text-xl-start pb-5 pb-md-7 pb-xl-0">
                                    <div>
                                        <h1 class="display-6 text-white mb-3 mb-lg-5" data-aos="fade-up"
                                            data-aos-delay="0"><span class="text-cyan-50">Grow</span> Faster with A
                                            <span class="text-purple-400">Coach</span></h1>
                                        <p class="text-white" data-aos="fade-up" data-aos-delay="50"> Get the guidance
                                            and support you need to accelerate your growth and achieve your goals with a
                                            dedicated coach. </p>
                                    </div>
                                    <form action="#">
                                        <div class="form-group nk-newsletter-three pt-5" data-aos="fade-up"
                                            data-aos-delay="100">
                                            <div class="form-control-wrap">
                                                <div class="icon"><em class="icon ni ni-search"></em></div><input
                                                    type="email" name="email"
                                                    class="form-control bg-white text-base ps-7 border-dark"
                                                    placeholder="Try Java Developer, React Dev etc." required=""><button
                                                    type="submit" class="btn btn-primary">Find A Developer</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="pt-5">
                                        <h6 class="text-white fs-16 fw-normal" data-aos="fade-up" data-aos-delay="150">
                                            Trusted by 50k+ Users</h6>
                                        <div class="d-flex justify-content-center justify-content-xl-start align-items-center"
                                            data-aos="fade-up" data-aos-delay="200">
                                            <ul class="d-flex align-items-center ">
                                                <li><em class="icon ni ni-star-fill text-yellow me-1"></em></li>
                                                <li><em class="icon ni ni-star-fill text-yellow me-1"></em></li>
                                                <li><em class="icon ni ni-star-fill text-yellow me-1"></em></li>
                                                <li><em class="icon ni ni-star-fill text-yellow me-1"></em></li>
                                                <li><em class="icon ni ni-star-fill text-yellow me-1"></em></li>
                                            </ul>
                                            <p class="fs-16 fw-semibold"><span class="me-1 text-white">4.1/5</span><span
                                                    class="text-white opacity-75">( 14k Reviews )</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6" data-aos="fade-up" data-aos-delay="0">
                                <div class="nk-frame nk-frame-nine"><img src="{% static 'images/coaching-service/banner-cover.png'   %} "
                                        alt="banner-cover">
                                    <div class="nk-frame-children nk-frame-children-one"><img
                                            src="{% static 'images/coaching-service/banner-cover-a.png'   %}" alt="banner-cover-frame">
                                    </div>
                                    <div class="nk-frame-children nk-frame-children-two"><img
                                            src="{% static 'images/coaching-service/banner-cover-b.png'   %}" alt="banner-cover-frame">
                                    </div>
                                    <div class="nk-frame-children nk-frame-children-three"><img
                                            src="{% static 'images/coaching-service/banner-cover-c.png'   %}" alt="banner-cover-frame">
                                    </div>
                                    <div class="nk-frame-children nk-frame-children-four"><img
                                            src="{% static 'images/coaching-service/banner-cover-d.png'   %}" alt="banner-cover-frame">
                                    </div>
                                    <div class="nk-video-btn"><a data-fslightbox=""
                                            href="https://www.youtube.com/watch?v=pVE92TNDwUk"
                                            class="media media-xl media-middle media-circle text-bg-primary shadow-xl animate animate-infinite animate-pulse animate-duration-1"><em
                                                class="icon ni ni-play-fill"></em></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section-features py-7 bg-blue-700">
                <div class="container-fluid px-0">
                    <div class="texts-animation-scroll" data-margin="12" data-speed="18">
                        <div class="d-flex align-items-center"><span class="d-inline-block me-2"><img
                                    src="{% static 'images/coaching-service/star-red.png'   %}" alt="icon"></span>
                            <h3 class="text-nowrap">Job Search Coaching</h3>
                        </div>
                        <div class="d-flex align-items-center"><span class="d-inline-block me-2"><img
                                    src="{% static 'images/coaching-service/star-green.png'   %}" alt="icon"></span>
                            <h3 class="text-nowrap">Interview Coaching</h3>
                        </div>
                        <div class="d-flex align-items-center"><span class="d-inline-block me-2"><img
                                    src="{% static 'images/coaching-service/star-blue.png'   %}" alt="icon"></span>
                            <h3 class="text-nowrap">Business Mentoring</h3>
                        </div>
                        <div class="d-flex align-items-center"><span class="d-inline-block me-2"><img
                                    src="{% static 'images/coaching-service/star-purple.png'   %} " alt="icon"></span>
                            <h3 class="text-nowrap">Life Coaching</h3>
                        </div>
                        <div class="d-flex align-items-center"><span class="d-inline-block me-2"><img
                                    src="{% static 'images/coaching-service/star-yellow.png'   %} " alt="icon"></span>
                            <h3 class="text-nowrap">Leadership Coaching</h3>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section nk-section-talents py-7 py-lg-120">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="nk-frame nk-frame-ten mb-5 mb-lg-0"><img
                                    src="{% static 'images/coaching-service/section-cover-1.png'   %} " alt="section-cover">
                                <div class="nk-frame-children nk-frame-children-one"><img
                                        src="{% static 'images/coaching-service/section-cover-1-a.png'   %} " alt="frame-children"
                                        data-aos="zoom-in"></div>
                                <div class="nk-frame-children nk-frame-children-two"><img
                                        src="{% static 'images/coaching-service/section-cover-1-b.png'   %} " alt="frame-children"
                                        data-aos="zoom-in" data-aos-delay="20"></div>
                                <div class="nk-frame-children nk-frame-children-three"><img
                                        src="{% static 'images/coaching-service/section-cover-1-c.png'   %} " alt="frame-children"
                                        data-aos="zoom-in" data-aos-delay="50"></div>
                                <div class="nk-frame-children nk-frame-children-four"><img
                                        src="{% static 'images/coaching-service/section-cover-1-d.png'   %} " alt="frame-children"
                                        data-aos="zoom-in" data-aos-delay="75"></div>
                                <div class="nk-frame-children nk-frame-children-five"><img
                                        src="{% static 'images/coaching-service/section-cover-1-e.png'   %} " alt="frame-children"
                                        data-aos="zoom-in" data-aos-delay="100"></div>
                                <div class="nk-frame-children nk-frame-children-six"><img
                                        src="{% static 'images/coaching-service/section-cover-1-f.png'   %} " alt="frame-children"
                                        data-aos="zoom-in" data-aos-delay="150"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ps-lg-5">
                                <div class="pb-5">
                                    <h2 class="nk-section-title">Trusted by <span class="text-primary ">talents</span>
                                        around the <span class="text-danger">globe.</span></h2>
                                    <p class="nk-section-text"> Talents from all corners of the world place their trust
                                        in us for unparalleled growth and success. Benefit from our expertise and unlock
                                        your full potential today. </p>
                                </div><a href="#" class="btn btn-dark px-lg-6">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section nk-section-startups bg-gray-1100 is-theme">
                <div class="container">
                    <div class="row flex-row-reverse justify-content-between align-items-center">
                        <div class=" col-lg-6 col-xl-5">
                            <div class="nk-frame mb-5 mb-lg-0 text-center text-xl-end" data-aos="fade-up"
                                data-aos-delay="0"><img src="{% static 'images/coaching-service/section-cover-2.png'   %} "
                                    alt="section-cover"></div>
                        </div>
                        <div class=" col-lg-6 col-xl-5">
                            <div>
                                <div class="pb-5">
                                    <h2 class="nk-section-title"> Helping the <span class="text-orange">startups</span>
                                        to get the <span class="text-green-300">best.</span></h2>
                                    <p class="nk-section-text"> We specialize in providing comprehensive support to
                                        startups, guiding them towards success with our expertise and tailored
                                        solutions. Join us on the journey to unlock your startup's full potential. </p>
                                </div><a href="#" class="btn btn-white px-lg-6">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section nk-section-testimonials bg-blue-700  overflow-hidden">
                <div class="nk-mask shape-43"></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="nk-section-head text-center">
                                <h2 class="nk-section-title"><span class="text-primary">95%</span> Client satisfaction
                                </h2>
                                <p class="nk-section-text"> Learning with us is fun, and research shows that it works!
                                    Learning a language on Dialect is completely free. </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper swiper-init nk-swiper nk-swiper-s4" data-autoplay="true" data-space-between="30"
                        data-breakpoints='{                    "0":{"slidesPerView":1,"slidesPerGroup":1 },                    "991":{"slidesPerView":2,"slidesPerGroup":1}                 }'>
                        <div class="swiper-wrapper has-pagination">
                            <div class="swiper-slide h-auto">
                                <div class="nk-testimonial-card border-gray-50 nk-testimonial-card-s3 shadow-none">
                                    <div class="nk-testimonial-content">
                                        <h5 class="mb-2">I am very happy!</h5>
                                        <p class="fs-14 line-clamp-3"> We're thrilled to hear that you're very happy! If
                                            you have any questions or need assistance, feel free to reach out to us.
                                        </p>
                                        <div class="media-group align-items-center pt-4">
                                            <div class="media media-circle"><img src="{% static 'images/avatar/a.jpg" alt="avatar">
                                            </div>
                                            <div class="media-text">
                                                <h5 class="mb-0">John Carter</h5><span
                                                    class="small text fw-medium">Financial Analyst</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide h-auto">
                                <div class="nk-testimonial-card border-gray-50 nk-testimonial-card-s3 shadow-none">
                                    <div class="nk-testimonial-content">
                                        <h5 class="mb-2">Brilliant Solutions</h5>
                                        <p class="fs-14 line-clamp-3"> Thank you for your kind words! We strive to
                                            provide brilliant solutions for our customers. If there's anything else we
                                            can assist you with, please let us know. </p>
                                        <div class="media-group align-items-center pt-4">
                                            <div class="media media-circle"><img src="{% static 'images/avatar/b.jpg" alt=""></div>
                                            <div class="media-text">
                                                <h5 class="mb-0">Bella Grace</h5><span
                                                    class="small text fw-medium">Digital Marketing</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide h-auto">
                                <div class="nk-testimonial-card border-gray-50 nk-testimonial-card-s3 shadow-none">
                                    <div class="nk-testimonial-content">
                                        <h5 class="mb-2">Best platform to learn.</h5>
                                        <p class="fs-14 line-clamp-3"> Thank you for your feedback! We're glad to hear
                                            that you find our platform to be the best for learning. We are committed to
                                            providing high-quality educational resources and a user-friendly experience.
                                            If you have any suggestions or need further assistance, feel free to reach
                                            out to us. </p>
                                        <div class="media-group align-items-center pt-4">
                                            <div class="media media-circle"><img src="{% static 'images/avatar/a.jpg" alt="avatar">
                                            </div>
                                            <div class="media-text">
                                                <h5 class="mb-0">John Carter</h5><span
                                                    class="small text fw-medium">Financial Analyst</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination d-block d-lg-none"></div>
                        <div class="swiper-button-group d-none d-lg-block">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section pt-lg-120">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="nk-section-head text-center">
                                <h2 class="nk-section-title"><span class="text-danger d-block">Professional</span>
                                    Coaching Services</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-5 gy-lg-0 ">
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="0">
                            <div class="team-card">
                                <div class="team-card-cover"><img src="{% static 'images/team/e.png'   %} " alt="team-member"
                                        class="img-fluid"></div>
                                <div class="team-card-details text-center flex-column">
                                    <h5 class="m-0 text-green-600">Leadership Coaching</h5>
                                    <p class="fs-14 line-clamp-2"> Unlock your leadership potential and achieve
                                        extraordinary results </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="50">
                            <div class="team-card">
                                <div class="team-card-cover"><img src="{% static 'images/team/f.png'   %} " alt="team-member"
                                        class="img-fluid"></div>
                                <div class="team-card-details text-center flex-column">
                                    <h5 class="m-0 text-primary">Career Coaching</h5>
                                    <p class="fs-14 line-clamp-2"> Navigate your career with confidence and clarity
                                        through </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="team-card">
                                <div class="team-card-cover"><img src="{% static 'images/team/g.png'   %} " alt="team-member"
                                        class="img-fluid"></div>
                                <div class="team-card-details text-center flex-column">
                                    <h5 class="m-0 text-danger">Job Search Coaching</h5>
                                    <p class="fs-14 line-clamp-2"> Maximize your job search success with expert guidance
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section nk-section-coaching pb-7 pb-lg-120">
                <div class="container">
                    <div class="row align-items-end justify-content-between text-center text-lg-start pb-5 pb-lg-7">
                        <div class="col-lg-5">
                            <div class="nk-section-head pb-0">
                                <h2 class="nk-section-title">why we are the best <span
                                        class="text-cyan-200">coaching</span> site</h2><a href="#"
                                    class="btn btn-dark px-lg-6">Learn More</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p class="ps-lg-7 mt-5 mt-lg-0 text-gray-800">We work with professionals and leaders who
                                want to build careers that fulfil them intellectually, financially and emotionally. We
                                are providing the best coaching.</p>
                        </div>
                    </div>
                    <div class="row gy-5">
                        <div class="col-xl-3 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                            <div class="card border-gray-50">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-green-600-dark mb-4">
                                        <em class="icon ni ni-property-alt"></em></div>
                                    <h5 class="fw-semibold">Best Coaches</h5>
                                    <p class="fs-16 text-base line-clamp-2"> Experience transformational growth with our
                                        team of industry-leading coaches who are committed to your success. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4" data-aos="fade-up" data-aos-delay="50">
                            <div class="card border-gray-50">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-warning-dark mb-4"><em
                                            class="icon ni ni-clock"></em></div>
                                    <h5 class="fw-semibold">Anytime Coaching</h5>
                                    <p class="fs-16 text-base line-clamp-2"> Get personalized coaching and support
                                        whenever you need it, at your convenience. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="card border-gray-50">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-primary mb-4"><em
                                            class="icon ni ni-laptop"></em></div>
                                    <h5 class="fw-semibold">Easy Meeting</h5>
                                    <p class="fs-16 text-base line-clamp-2"> Streamline your meetings and make
                                        collaboration effortless with our easy-to-use meeting platform. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4" data-aos="fade-up" data-aos-delay="150">
                            <div class="card border-gray-50">
                                <div class="card-body">
                                    <div class="media media-lg media-middle media-circle text-bg-danger mb-4"><em
                                            class="icon ni ni-chat"></em></div>
                                    <h5 class="fw-semibold">Easy Message</h5>
                                    <p class="fs-16 text-base line-clamp-2"> Communicate effortlessly with our easy
                                        messaging platform, enabling seamless collaboration and quick information
                                        exchange. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section nk-section-cta bg-purple-400  overflow-hidden">
                <div class="nk-mask shape-43-a d-none d-lg-block"></div>
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="pb-3" data-aos="fade-up" data-aos-delay="0"><a href="index.html"
                                    class="logo-link">
                                    <div class="logo-wrap"><img class="logo-img logo-light" src="{% static 'images/logo-s2.png'   %} "
                                            srcset="{% static 'images/logo-s22x.png'   %}  2x" alt="brand-logo"><img
                                            class="logo-img logo-dark" src="{% static 'images/logo-s2-dark.png'   %} "
                                            srcset="{% static 'images/logo-s2-dark2x.png'   %}  2x" alt="brand-logo"></div>
                                </a></div>
                            <h2 class="mb-5 mb-lg-7" data-aos="fade-up" data-aos-delay="0">We are trusted by 5k+
                                clients. Join them to grow your Startup.</h2><a href="#" class="btn btn-dark"
                                data-aos="fade-up" data-aos-delay="0"><span> Find My Coach </span><em
                                    class="icon ni ni-arrow-right ms-2"></em></a>
                        </div>
                    </div>
                </div>
                <div class="nk-frame nk-frame-eleven">
                    <div class="nk-frame-children nk-frame-children-one"><img
                            src="{% static 'images/coaching-service/section-cover-1-g.png'   %} " alt="section-cover" data-aos="zoom-in"
                            data-aos-delay="0"></div>
                    <div class="nk-frame-children nk-frame-children-two"><img
                            src="{% static 'images/coaching-service/section-cover-1-f.png'   %} " alt="section-cover" data-aos="zoom-in"
                            data-aos-delay="25"></div>
                </div>
            </section>
            <section class="nk-section nk-newsletter-section pb-lg-0 bg-gray-1100 is-theme">
                <div class="container">
                    <div
                        class="row justify-content-center justify-content-lg-between align-items-center pb-5 border-bottom border-gray-1000">
                        <div class="col-lg-6 col-xl-4">
                            <div class="nk-newsletter-content text-center text-lg-start pb-5 pb-lg-0">
                                <h4 class="text-capitalize">Subscribe to our newsletter</h4>
                                <p class="fs-16 m-0">Join the 5000+ People That Uses Softnio Products.</p>
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-4">
                            <form data-action="form/subscribe.php" class="form-submit-init" method="post">
                                <div class="form-group nk-newsletter-three">
                                    <div class="form-control-wrap"><input type="email" name="email"
                                            class="form-control   " placeholder="Enter Your Email" required=""><button
                                            type="submit" class="btn btn-primary">Subscribe</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div class="is-theme">
           
        </div><a href="#" class="scroll-top shadow animate animate-infinite animate-pulse animate-duration-2"><em
                class="icon ni ni-chevrons-up"></em></a>
        <div class="nk-sticky-badge">
            <ul>
                <li><a href="index.html" target="_blank" class="nk-sticky-badge-icon nk-sticky-badge-home"
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="nk-tooltip"
                        data-bs-title="View Demo"><em class="icon ni ni-home-fill"></em></a></li>
                <li><a href="https://1.envato.market/NioLand" target="_blank"
                        class="nk-sticky-badge-icon nk-sticky-badge-purchase" data-bs-toggle="tooltip"
                        data-bs-custom-class="nk-tooltip" data-bs-title="Purchase Now" aria-label="Purchase Now"><em
                            class="icon ni ni-cart-fill"></em></a></li>
            </ul>
        </div>
    </div>
   
</body>
{% endblock %}
