{% extends 'base.html' %}
{% load static %}
{% block content %}




<body class="nk-body" data-navbar-collapse="xl">
    <div class="preloader">
        <div class="loader"></div>
    </div>
    <div class="nk-app-root ">
        <main class="nk-pages">
            <section class="nk-section pt-120 pt-lg-160">
                <div class="nk-mask blur-1 left center"></div>
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="nk-section-head"><span class="nk-section-subtitle" data-aos="fade-up">Inside
                                    stories</span>
                                <h2 class="nk-section-title" data-aos="fade-up" data-aos-delay="50">Hundreds of Sotware
                                    Team Trust NioLand</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row gy-5 justify-content-center pb-5 pb-md-7">
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                            <div class="card h-100 border-0 bg-primary is-theme">
                                <div class="card-body">
                                    <div class="card-content">
                                        <div class="card-image mb-3 mb-md-5 brand"><img class="h-24px"
                                                src="images/brands/a-light.png" alt=""></div>
                                        <h5 class="card-title mb-3 mb-md-5"><a href="blog-single.html">Nioland claims to
                                                be the #1 player in the analytics industry</a></h5>
                                        <div class="card-video"><a data-fslightbox=""
                                                href="https://www.youtube.com/watch?v=pVE92TNDwUk"
                                                class="media media-md media-middle media-circle text-bg-white"><em
                                                    class="icon ni ni-play-fill"></em></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="50">
                            <div class="card h-100 border-0 bg-blue-1400 is-theme">
                                <div class="card-body">
                                    <div class="card-content">
                                        <div class="card-image mb-3 mb-md-5 brand"><img class="h-24px"
                                                src="images/brands/b-light.png" alt=""></div>
                                        <h5 class="card-title mb-3 mb-md-5"><a href="blog-single.html">NioLand raises
                                                $84M in Series C funding</a></h5>
                                        <div class="card-video"><a data-fslightbox=""
                                                href="https://www.youtube.com/watch?v=pVE92TNDwUk"
                                                class="media media-md media-middle media-circle text-bg-white"><em
                                                    class="icon ni ni-play-fill"></em></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                            <div class="card h-100 border-0 bg-dark is-theme">
                                <div class="card-body">
                                    <div class="card-content">
                                        <div class="card-image mb-3 mb-md-5 brand"><img class="h-24px"
                                                src="images/brands/c-light.png" alt=""></div>
                                        <h5 class="card-title mb-3 mb-md-5"><a href="blog-single.html">Nioland claims to
                                                be the #1 player in the analytics industry</a></h5>
                                        <div class="card-video"><a data-fslightbox=""
                                                href="https://www.youtube.com/watch?v=pVE92TNDwUk"
                                                class="media media-md media-middle media-circle text-bg-white"><em
                                                    class="icon ni ni-play-fill"></em></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                            <div class="card h-100 border-0 bg-blue-1000 is-theme">
                                <div class="card-body">
                                    <div class="card-content">
                                        <div class="card-image mb-3 mb-md-5 brand"><img class="h-24px"
                                                src="images/brands/d-light.png" alt=""></div>
                                        <h5 class="card-title mb-3 mb-md-5"><a href="blog-single.html">NioLand claims to
                                                be the #1 player in the analytics industry. Every small businesses
                                                favorites.</a></h5>
                                        <div class="card-video"><a data-fslightbox=""
                                                href="https://www.youtube.com/watch?v=pVE92TNDwUk"
                                                class="media media-md media-middle media-circle text-bg-white"><em
                                                    class="icon ni ni-play-fill"></em></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card h-100 border-0 bg-blue-300 text-center text-lg-start overflow-hidden"
                                data-aos="fade-up" data-aos-delay="50">
                                <div class="card-body pb-0">
                                    <div class="row g-gs justify-content-between align-items-end">
                                        <div class="col-lg-7">
                                            <div
                                                class="card-content h-100 d-flex flex-column justify-content-between pb-lg-5">
                                                <div class="card-image mb-3 mb-md-5 brand"><img class="h-24px"
                                                        src="images/brands/e.png" alt=""></div>
                                                <h4 class="card-title mb-4"><a href="blog-single.html">I know if we
                                                        stopped using NioLand today, tracking feature requests would be
                                                        a disaster”</a></h4>
                                                <div
                                                    class="media-group align-items-center justify-content-center justify-content-lg-start">
                                                    <div class="media-text">
                                                        <div class="h5 mb-0">John Carter</div>
                                                        <div class="small">CEO &amp; Founder</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5"><img src="images/team/d.png" alt="team-people"
                                                class="ms-xl-7 "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-4">
                            <div class="nk-sectionn-head">
                                <h2 class="nk-section-title">Ensuring the best user experience</h2>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <div class="row text-xl-end gy-5 gy-lg-0">
                                <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                                    <div class="nk-funfact-item">
                                        <div class="d-flex justify-content-xl-end align-items-center mb-2"><em
                                                class="icon icon-md ni ni-star text-warning me-2"></em>
                                            <div class="h3">4.86</div>
                                        </div>
                                        <div class="h6 text-light fw-normal">User Friendly Interface</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-delay="50">
                                    <div class="nk-funfact-item">
                                        <div class="d-flex justify-content-xl-end align-items-center mb-2"><em
                                                class="icon icon-md ni ni-trend-up text-primary me-2"></em>
                                            <div class="h3">95%</div>
                                        </div>
                                        <div class="h6 text-light fw-normal">Data-informed Decisions</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                                    <div class="nk-funfact-item">
                                        <div class="d-flex justify-content-xl-end align-items-center mb-2"><em
                                                class="icon icon-md ni ni-arrow-up text-success me-2"></em>
                                            <div class="h3">500%</div>
                                        </div>
                                        <div class="h6 text-light fw-normal">Business Strategy Results</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="nk-section-head text-center"><span class="nk-section-subtitle">Customer
                                    reviews</span>
                                <h2 class="nk-section-title">Don’t take our word for it</h2>
                                <p class="nk-block-text">Adipiscing nisi sem gravida enim eu adipiscing sagittis
                                    scelerisque augue nulla massa aliquet fringilla nullam eget</p>
                                <ul class="nk-btn-group justify-content-center pt-5">
                                    <li><a href="#" class="btn btn-primary">Get started</a></li>
                                    <li><a href="features.html" class="btn btn-outline-primary">Explore All Features</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card-list gy-4">
                                <div class="card h-100 rounded-3" data-aos="fade-up">
                                    <div class="card-body d-flex flex-column justify-content-between gap g-4">
                                        <div>
                                            <ul class="d-flex align-items-center gap-1 rating pb-md-2">
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                            </ul>
                                            <h6 class="mb-2 fw-bold">“Amazing service! Claire helped me to reduce the
                                                shipping price and shipped it immediately after purchasing. ”</h6>
                                            <p class="line-clamp-3 fs-14">Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Venenatis magna massa semper tristique. Lorem ipsum
                                                dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                        <div>
                                            <h6 class="fs-16 m-0 fw-semibold">Guy Hawkins</h6><span class="fs-14">3
                                                months ago</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card h-100 rounded-3" data-aos="fade-up">
                                    <div class="card-body d-flex flex-column justify-content-between gap g-4">
                                        <div>
                                            <ul class="d-flex align-items-center gap-1 rating pb-md-2">
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                            </ul>
                                            <h6 class="mb-2 fw-bold">“Just came back to home and should say that it is
                                                definitely a great experience.”</h6>
                                            <p class="line-clamp-3 fs-14">Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Venenatis magna massa semper tristique. Lorem ipsum
                                                dolor sit amet, consectetur adipiscing elit. Venenatis magna massa
                                                semper tristique.</p>
                                        </div>
                                        <div>
                                            <h6 class="fs-16 m-0 fw-semibold">Savannah Nguyen</h6><span class="fs-14">3
                                                months ago</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card h-100 rounded-3" data-aos="fade-up">
                                    <div class="card-body d-flex flex-column justify-content-between gap g-4">
                                        <div>
                                            <ul class="d-flex align-items-center gap-1 rating pb-md-2">
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                            </ul>
                                            <h6 class="mb-2 fw-bold">“I tried the Hair mask first and its the best one
                                                I've ever tried love it.”</h6>
                                            <p class="line-clamp-3 fs-14">Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Venenatis magna massa semper tristique. Lorem ipsum
                                                dolor sit amet.</p>
                                        </div>
                                        <div>
                                            <h6 class="fs-16 m-0 fw-semibold">Guy Hawkins</h6><span class="fs-14">3
                                                months ago</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-list gy-4">
                                <div class="card h-100 rounded-3" data-aos="fade-up">
                                    <div class="card-body d-flex flex-column justify-content-between gap g-4">
                                        <div>
                                            <ul class="d-flex align-items-center gap-1 rating pb-md-2">
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                            </ul>
                                            <h6 class="mb-2 fw-bold">“Very quick and easy! Great service, thanks!”</h6>
                                            <p class="line-clamp-3 fs-14">Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Venenatis magna massa semper tristique. Lorem ipsum
                                                dolor sit amet, consectetur adipiscing elit. Venenatis magna massa
                                                semper tristique.</p>
                                        </div>
                                        <div>
                                            <h6 class="fs-16 m-0 fw-semibold">Courtney Henry</h6><span class="fs-14">3
                                                months ago</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card h-100 rounded-3" data-aos="fade-up">
                                    <div class="card-body d-flex flex-column justify-content-between gap g-4">
                                        <div>
                                            <ul class="d-flex align-items-center gap-1 rating pb-md-2">
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                            </ul>
                                            <h6 class="mb-2 fw-bold">"Really glad to have a call with Dani – super
                                                invaluable. Thanks"</h6>
                                            <p class="line-clamp-3 fs-14">Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Venenatis magna massa semper tristique. Lorem ipsum
                                                dolor sit amet, consectetur adipiscing elit. Venenatis magna massa
                                                semper tristique.</p>
                                        </div>
                                        <div>
                                            <h6 class="fs-16 m-0 fw-semibold">Brooklyn Simmons</h6><span class="fs-14">3
                                                months ago</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card h-100 rounded-3" data-aos="fade-up">
                                    <div class="card-body d-flex flex-column justify-content-between gap g-4">
                                        <div>
                                            <ul class="d-flex align-items-center gap-1 rating pb-md-2">
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                            </ul>
                                            <h6 class="mb-2 fw-bold">“It has been an absolute pleasure dealing with Scan
                                                during the lockdown.”</h6>
                                            <p class="line-clamp-3 fs-14">Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Venenatis magna massa semper tristique. Lorem ipsum
                                                dolor sit amet, consectetur adipiscing elit. Venenatis magna massa
                                                semper tristique.</p>
                                        </div>
                                        <div>
                                            <h6 class="fs-16 m-0 fw-semibold">Jerome Bell</h6><span class="fs-14">3
                                                months ago</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-list gy-4">
                                <div class="card h-100 rounded-3" data-aos="fade-up">
                                    <div class="card-body d-flex flex-column justify-content-between gap g-4">
                                        <div>
                                            <ul class="d-flex align-items-center gap-1 rating pb-md-2">
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                            </ul>
                                            <h6 class="mb-2 fw-bold">"Great session! Dani was super helpful."</h6>
                                            <p class="line-clamp-3 fs-14">Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Venenatis magna massa semper tristique. Lorem ipsum
                                                dolor sit amet, consectetur adipiscing elit. Venenatis magna massa
                                                semper tristique.</p>
                                        </div>
                                        <div>
                                            <h6 class="fs-16 m-0 fw-semibold">Kristin Watson</h6><span class="fs-14">3
                                                months ago</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card h-100 rounded-3" data-aos="fade-up">
                                    <div class="card-body d-flex flex-column justify-content-between gap g-4">
                                        <div>
                                            <ul class="d-flex align-items-center gap-1 rating pb-md-2">
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                            </ul>
                                            <h6 class="mb-2 fw-bold">“I ordered a Balmain T-shirt dress from here and it
                                                is fabulous.”</h6>
                                            <p class="line-clamp-3 fs-14">Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Venenatis magna massa semper tristique. Lorem ipsum
                                                dolor sit amet, consectetur adipiscing elit. Venenatis magna massa
                                                semper tristique.</p>
                                        </div>
                                        <div>
                                            <h6 class="fs-16 m-0 fw-semibold">Bessie Cooper</h6><span class="fs-14">3
                                                months ago</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card h-100 rounded-3" data-aos="fade-up">
                                    <div class="card-body d-flex flex-column justify-content-between gap g-4">
                                        <div>
                                            <ul class="d-flex align-items-center gap-1 rating pb-md-2">
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                                <li class="text-yellow"><em class="icon ni ni-star-fill"></em></li>
                                            </ul>
                                            <h6 class="mb-2 fw-bold">“The Services provided are really great, we
                                                received a genuine advice and at very reasonable cost.”</h6>
                                            <p class="line-clamp-3 fs-14">Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Venenatis magna massa semper tristique. Lorem ipsum
                                                dolor sit amet, consectetur adipiscing elit. Venenatis magna massa
                                                semper tristique. Lorem ipsum dolor sit aatis magna massa se.</p>
                                        </div>
                                        <div>
                                            <h6 class="fs-16 m-0 fw-semibold">Jane Cooper</h6><span class="fs-14">3
                                                months ago</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section nk-cta-section">
                <div class="container">
                    <div class="nk-cta-wrap bg-primary-gradient rounded-3 is-theme p-5 p-lg-7" data-aos="fade-up"
                        data-aos-delay="100">
                        <div class="row g-gs align-items-center">
                            <div class="col-lg-8">
                                <div class="media-group flex-column flex-lg-row align-items-center">
                                    <div
                                        class="media media-lg media-circle media-middle text-bg-white text-primary mb-2 mb-lg-0 me-lg-2">
                                        <em class="icon ni ni-chat-fill"></em></div>
                                    <div class="text-center text-lg-start">
                                        <h3 class="text-capitalize m-0">Chat with our support team!</h3>
                                        <p class="fs-16 opacity-75">Get in touch with our support team if you still
                                            can’t find your answer.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center text-lg-end"><a href="contact-us.html"
                                    class="btn btn-white fw-semiBold">Contact Support</a></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="nk-section nk-newsletter-section  pb-lg-0">
                <div class="container">
                    <div
                        class="row justify-content-center justify-content-lg-between align-items-center pb-5 border-bottom border-gray-50">
                        <div class="col-lg-6 col-xl-4">
                            <div class="nk-newsletter-content text-center text-lg-start pb-5 pb-lg-0">
                                <h4 class="text-capitalize">Subscribe to our newsletter</h4>
                                <p class="fs-16">Join the 5000+ People That Uses Softnio Products.</p>
                            </div>
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-5">
                            <form data-action="form/subscribe.php" class="form-submit-init" method="post">
                                <div class="form-group nk-newsletter-one row">
                                    <div class="col-md-8">
                                        <div class="form-control-wrap mb-4 mb-md-0"><input type="email" name="email"
                                                class="form-control text-base   " placeholder="Enter Your Email"
                                                required=""></div>
                                    </div>
                                    <div class="col-md-4 ps-md-0"><input type="submit"
                                            class="btn btn-primary btn-block h-100" value="Subscribe"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
       <a href="#" class="scroll-top shadow animate animate-infinite animate-pulse animate-duration-2"><em
                class="icon ni ni-chevrons-up"></em></a>
        <div class="nk-sticky-badge">
            <ul>
                <li><a href="index.html" target="_blank" class="nk-sticky-badge-icon nk-sticky-badge-home"
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="nk-tooltip"
                        data-bs-title="View Demo"><em class="icon ni ni-home-fill"></em></a></li>
                <li><a href="https://1.envato.market/NioLand" target="_blank"
                        class="nk-sticky-badge-icon nk-sticky-badge-purchase" data-bs-toggle="tooltip"
                        data-bs-custom-class="nk-tooltip" data-bs-title="Purchase Now" aria-label="Purchase Now"><em
                            class="icon ni ni-cart-fill"></em></a></li>
            </ul>
        </div>
    </div>
  
</body>

{% endblock %}
